div[id*='ytsubscribe'] {
  position: absolute;
  top: 85%; left: 85%;
}

/* Have a Spotify Themed Background */
body{
    background-image: url("../img/spotify.jpg");
}

/* Make Spotify Songs Look More Round */
iframe {
  border-radius: 30px;
}

/* Make the Spotify Results Fall Into the Same Row */
.col {
  display: inline-block !important;
}

/* Position Results Below Search Bar */
#song-list {
  position: absolute;
  top: 20%; left: 25%;
}
.buscar-caja {
  position: absolute;
  top: 10%; left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 40px;
  padding: 10px;
}
.buscar-caja:hover > .buscar-txt
{
  width: 240px;
  padding: 0 6px;
}
.buscar-caja:hover > .buscar-btn {
  background: white;
  color: black;
}
.buscar-btn {

  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #1DB954;
  cursor: pointer;
}
.buscar-btn > i
{
  font-size: 18px;
}
.buscar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #333;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.btn-primary{
    background: #fff;
    color: #CB356B;
    border: none;
}
